#query tr {
    height: 15px;
    text-align: center;
    background-color: white;
    color: black;
}

#query tr:hover {
    background-color: lightgreen;
    color: black;
}

#query td {
    padding: 0 10px;
    max-width: 150px;
}

#query table {
    margin: 40px;
    border: none;
}

#query a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}