#query tr {
    height: 15px;
    text-align: center;
    background-color: white;
    color: black;
    border-bottom: 1px gray solid;
}

#query tr:hover {
    background-color: lightgreen;
    color: black;
}

#query td {
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
    min-width: 50px;
    max-width: 150px;
}

#query table {
    margin: 30px auto;
    width: 90%;
    align-self: auto;
    border: 1px gray solid;
}

#query a, #query a:hover,#query a:visited, #query a:active {
    color: white;
    text-decoration: none;
}

#query {
    padding: 0px;
    overflow-y: auto;
    overflow-x: visible;
}