nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
   
nav li {
    float: left;
    width: 100px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
   background-color: #111;
   color: white
}

nav li .active {
   background-color: #111;
   color: white
}

nav .active {
    background-color: #4CAF50;
}