main {
    overflow: hidden;
    margin: 50px;
    padding: 20px 0px;
    align-content: center;
}

.search_div input{
    height: 30px;
    margin: 10px;
    width: auto;
    min-width: 250px;
    padding: 20px;
}

.update_div input {
    margin: 5px;
    height: 30px;
    vertical-align: middle;
    padding: 10px;
}

.update-input {
    min-width: 250px;
}


.search_div select {
    margin: 10px;
    height: 45px;
    width: 120px;
    padding: 5px;

}

.update_div {
    margin: 20px;
}

.search_div {
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.search_div button, .update_div button {
    margin: 10px;
    width: auto;
}


article {
    max-width: 2000px;
    /* float: left; */
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: #f1f1f1;
    height: 500px; 
  }